<!DOCTYPE html>
<html lang="pl" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projekt2</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projekt2.styles.css" asp-append-version="true" />
    <style>
        body, .nav-item, .navbar, .nav-link, .navbar-brand, .container, .form-group, .form-control, .dropdown-item, .dropdown, .dropdown-menu, table, tr, td, th, thead, tbody, .form-control, option{
            color: #76ABAE;
            font-weight: 700;
            background-image: url('/css/imgs/background.webp');
            background-repeat: repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        button{
            margin: 5px;
        }

        .table > :not(caption) > * > *, .form-control:focus {
            color: #76ABAE;
        }
        .nav-link, .navbar-brand, a{
            transition: color 0.5s;
        }

            .nav-link:hover, .navbar-brand:hover, a:hover {
            color: #6FA;
        }
        .form-group{
            padding: 5px;
        }
        option{
            color: black;
        }




    </style>

</head>
<body class="body" >
	<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Projekt2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="btn nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Stanowiska" asp-action="Index">Stanowiska</a>
                        </li>
                        <li class="btn nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Dzialy" asp-action="Index">Działy</a>
                        </li>
                        <li class="btn nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Pracownicy" asp-action="Index">Pracownicy</a>
                        </li>
                        <li class="btn nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Dostawcy" asp-action="Index">Dostawcy</a>
						</li>
                        <li class="btn nav-item">
							<a class="nav-link  " asp-area="" asp-controller="Dostawy" asp-action="Index">Dostawy</a>
						</li>
                        <li class="btn nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Kupcy" asp-action="Index">Kupcy</a>
                        </li>
                        <li class="btn nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Sprzedarz" asp-action="Index">Sprzedarz</a>
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle nav-item nav-link" type="button" data-bs-toggle="dropdown">
                                Produkcja
                            </button>
                        
                            <ul class="dropdown-menu">
                                <li class=" dropdown-item  ">
                                    <a class="nav-link  " asp-area="" asp-controller="Pakownia" asp-action="Index">Pakownia</a>
                                </li>
                                <li class=" dropdown-item  ">
                                    <a class="nav-link  " asp-area="" asp-controller="Produktownia" asp-action="Index">Produktownia</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle nav-item nav-link" type="button" data-bs-toggle="dropdown">
                                Magazynowanie
                            </button>
                            
                            <ul class="dropdown-menu">
                                <li class=" dropdown-item  ">
                                    <a class="nav-link  " asp-area="" asp-controller="Plac_buraczany" asp-action="Index">Plac buraczany</a>
                                </li>
                                <li class=" dropdown-item  ">
                                    <a class="nav-link  " asp-area="" asp-controller="Magazyn" asp-action="Index">Magazyn</a>
                                </li>
                                <li class=" dropdown-item  ">
                                    <a class="nav-link  " asp-area="" asp-controller="Silos" asp-action="Index">Silos</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown ">
                            <button class="btn dropdown-toggle nav-item nav-link" type="button" data-bs-toggle="dropdown">
                                Inne
                            </button>
                        
                            <ul class="dropdown-menu">
                                <li class=" dropdown-item  ">
                                    <a class="nav-link  " asp-area="" asp-controller="Plac_produktownia" asp-action="Index">Plac -&gt Produktownia</a>
                                </li>
                                <li class=" dropdown-item  ">
									<a class="nav-link  " asp-area="" asp-controller="Magazyn_sprzedarz" asp-action="Index">Magazyn -&gt Sprzedarz</a>
                                </li>
                                <li class=" dropdown-item  ">
                                    <a class="nav-link  " asp-area="" asp-controller="Silos_pakownia" asp-action="Index">Silos -&gt Pakownia</a>
                                </li>
							</ul>
						</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Projekt2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
