@model Projekt2.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Zmień hasło";
}

<h1>Zmień hasło</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label for="CurrentPassword" class="control-label">Aktualne hasło</label>
                <input type="password" asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <input type="checkbox" name="ShowPasswordOld" value="true" id="ShowPasswordOld" /> Pokaż hasło<br />
            <div class="form-group">
                <label for="NewPassword" class="control-label">Nowe hasło</label>
                <input type="password" asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="ConfirmPassword" class="control-label">Powtórz nowe hasło</label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
			<input type="checkbox" name="ShowPasswordNew" value="true" id="ShowPasswordNew" /> Pokaż hasła<br />

            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<a href="@Url.Action("Details", "User", new { id = User.FindFirst("Id").Value })">Powrót do profilu</a>

<script>
    ShowPasswordNew.addEventListener("change", ()=>{
        if(ShowPasswordNew.checked){
            NewPassword.setAttribute("type", "text");
            ConfirmPassword.setAttribute("type", "text");
        }else if(!ShowPasswordNew.checked){
            NewPassword.setAttribute("type", "password");
            ConfirmPassword.setAttribute("type", "password");
        }
    });
    ShowPasswordOld.addEventListener("change", ()=>{
        if(ShowPasswordOld.checked){
            CurrentPassword.setAttribute("type", "text");
        }else if(!ShowPasswordOld.checked){
            CurrentPassword.setAttribute("type", "password");
        }
    })
</script>