@model Projekt2.Models.Dzialy

@{
    ViewData["Title"] = "Działy - Usuwanie danych";
}

<h1>Działy - Usuwanie danych</h1>

<h3>Czy na pewno chcesz usunąć te dane?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwa)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_dzialu" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć do listy</a>
    </form>
</div>
