@model Projekt2.Models.Silos

@{
    ViewData["Title"] = "Silos - Zmiana informacji";
}

<h1>Silos - Zmiana informacji</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id_operacji" class="control-label"></label>
                <input asp-for="Id_operacji" class="form-control" />
                <span asp-validation-for="Id_operacji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ilosc_cukru" class="control-label"></label>
                <input asp-for="Ilosc_cukru" class="form-control" />
                <span asp-validation-for="Ilosc_cukru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_skladowania" class="control-label"></label>
                <input asp-for="Data_skladowania" class="form-control" />
                <span asp-validation-for="Data_skladowania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a> |
    <a href="#" onclick="history.back()">Cofnij do poprzedniej strony</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
