@{
    ViewData["Title"] = "Statystyki pracowników";
    var labels1 = ViewBag.ChartLabels1 as string[];
    var values1 = ViewBag.ChartValues1 as int[];

    var labels2 = ViewBag.ChartLabels2 as string[];
    var values2 = ViewBag.ChartValues2 as int[];

    var labels3 = ViewBag.ChartLabels3 as string[];
    var values3 = ViewBag.ChartValues3 as int[];
}
<header>
    <style>
        #iframe{
            height:auto+15%;
            aspect-ratio: auto 1004/1004;
            overflow: visible !important;
        }
        iframe{
            height: 110%;
            width: inherit;
            overflow: visible !important;
        }


    </style>
</header>
<h1>Statystyki pracowników</h1>

<canvas id="chart1" class="w-100 w-sm-80 w-md-60 w-lg-50 w-xl-40 w-xxl-30" width="800" height="400"></canvas>
<div id="iframe" class="w-100 w-sm-80 w-md-60 w-lg-50 w-xl-40 w-xxl-30">
    <iframe class="w-100 w-sm-80 w-md-60 w-lg-50 w-xl-40 w-xxl-30" src="../Dzialy/Statystyki?iframe=true" style="margin-top: 50px;"></iframe>
</div>
<div id="iframe" class="w-100 w-sm-80 w-md-60 w-lg-50 w-xl-40 w-xxl-30">
    <iframe class="w-100 w-sm-80 w-md-60 w-lg-50 w-xl-40 w-xxl-30" src="../Stanowiska/Statystyki?iframe=true" style="margin-top: 50px;"></iframe>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1"></script>
<script>
    const chart1 = new Chart(document.getElementById('chart1').getContext('2d'), {
        type: "bar",
        data: {
            labels: @Html.Raw(Json.Serialize(labels1)),
            datasets: [{
                label: 'Miasto',
                data: @Html.Raw(Json.Serialize(values1)),
                    backgroundColor:
                    [
                        'rgba(255, 140, 0, 0.8)',    
                        'rgba(100, 149, 237, 0.8)'
                    ],
                    borderColor: 
                    [
                        'rgba(255, 140, 0, 0.8)',  
                        'rgba(100, 149, 237, 0.8)'
                    ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: { beginAtZero: true }
            }
        }
    });

</script>
