@model Projekt2.ViewModels.PracownicyStatystykiViewModel

@{
    ViewData["Title"] = "Statystyki stanowisk";
    Layout = ViewBag.DisableLayout == true ? null : "_Layout";
    var labels3 = ((List<string>)ViewBag.ChartLabels3) ?? new List<string>();
    var values3 = ((List<int>)ViewBag.ChartValues3) ?? new List<int>();
}
<header>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projekt2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fixes.css" asp-append-version="true" />
    <style>
        * {
            background-color: transparent !important;
        }

        canvas {
            background-color: #CEEEFF !important;
            border-radius: 15px;
        }
    </style>
</header>

<h1>Statystyki stanowisk</h1>

<canvas id="chart3" width="800" height="400"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1"></script>
<script>

    const chart3 = new Chart(document.getElementById('chart3').getContext('2d'), {
        type: "polarArea",
        data: {
            labels: @Html.Raw(Json.Serialize(labels3)),
            datasets: [{
                label: 'Stanowisko',
                data: @Html.Raw(Json.Serialize(values3)),
                backgroundColor:
                [
                    'rgba(161, 173, 66, 0.9)',
                    'rgba(66, 173, 172, 0.9)',
                    'rgba(173, 105, 66, 0.9)',
                    'rgba(129, 66, 173, 0.9)'
                ],
                borderColor:
                [
                    'rgba(161, 173, 66, 0.9)',
                    'rgba(66, 173, 172, 0.9)',
                    'rgba(173, 105, 66, 0.9)',
                    'rgba(129, 66, 173, 0.9)'
                ],
                borderWidth: 1
            }]
        },
            options: {
        responsive: true,
        plugins: {
            title: {
                display: true,
                text: 'Liczba pracowników na stanowiskach'
            }
        }
    }
    });

</script>