@model Projekt2.Models.Sprzedarz

@{
    ViewData["Title"] = "Sprzedaż - Dodawanie danych";
}

<h1>Sprzedaż - Dodawanie danych</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ilosc_opakowan" class="control-label"></label>
                <input asp-for="Ilosc_opakowan" class="form-control" type="number"/>
                <span asp-validation-for="Ilosc_opakowan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_odbioru" class="control-label"></label>
                <input asp-for="Data_odbioru" type="date" class="form-control" />
                <span asp-validation-for="Data_odbioru" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_kupca" class="control-label"></label>
                <select asp-for="Id_kupca" class="form-control" asp-items="@ViewBag.Id_kupca">
                </select>
                <span asp-validation-for="Id_kupca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
